- if current_user.admin?
  = link_to 'Back to Users', users_path, {class: "btn btn-default"}
- else
  = link_to 'Back to Your Details', current_user, {class: "btn btn-default"}

.container
  .row
    .col-md-offset-4.col-md-4
      %h1
        Edit Your Details
      .well.well-lg
        .form-group
          = render 'edit_form', http_verb: :patch, url: registration_path(resource_name)
    .col-md-4
      = render 'shared/form_error', model: @user
      -# TODO is this needed, what happens if there are no errors
      - if @user.errors.empty?
        -#= render