.container
  .row
    .col-md-offset-4.col-md-4
      %h1 Sign Up
      .well.well-lg
        = render 'reg_form', http_verb: :post, url: registration_path(resource_name)
      = render 'devise/shared/links'
    .col-md-4
      = render 'shared/form_error', model: @user
