<h1>Search#index  Promotions for today</h1>
<div class="container_fluid">
  <div class="row">
    <% @promotions.each do |promotion| %>
        <%= render 'promotions/card2', :promotion => promotion, :client => find_client(promotion.client_id) %>
    <% end %>
  </div>
</div>