<div class="page-header">
  <h1>Promotions Today <small>Search#index</small></h1>
</div>
</div>
<div class="container_fluid">
  <div class="row">
    <% @promotions.each do |promotion| %>
        <%= render 'promotions/card2', :promotion => promotion, :client => find_client(promotion.client_id) %>
    <% end %>
  </div>
</div>