.container
%h1 Administration Summary Page
.row
  .col-md-4
    .panel.panel-primary
      .panel-heading
        %h2 Active Promotions
      .panel-body
        .input-group
          %input{type: 'text', class: 'form-control', placeholder: 'search promotions...'}
          %span.input-group-addon.glyphicon.glyphicon-search
        %h3 Total: 100
        %h3
          .label.label-success Today: 30
        %h3
          .label.label-warning Tomorrow: 40
        %h3
          .label.label-danger Expire Today: 30
        .btn.btn-primary List All Promotions
  .col-md-4
    .panel.panel-primary
      .panel-heading
        %h2 Users
      .panel-body
        .input-group
          %input{type: 'text', class: 'form-control', placeholder: 'search users...'}
          %span.input-group-addon.glyphicon.glyphicon-search
        %h3
          Total: 20
        %h3
          .label.label-success Clients: 15
        %h3
          .label.label-warning Account Managers: 3
        %h3
          .label.label-danger Administrators: 2
        .btn.btn-primary List All Users
  .col-md-4
    .panel.panel-primary
      .panel-heading
        %h2 Clients
      .panel-body
        .input-group
          %input{type: 'text', class: 'form-control', placeholder: 'search clients...'}
          %span.input-group-addon.glyphicon.glyphicon-search
        %h3 Total: 10
        %h3
          .label.label-success Active: 8
        %h3
          .label.label-danger Inactive: 2
        .btn.btn-primary List All Clients
