.container
  %h1
    All Users
    = @users.length

  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Username
          %th Role
          %th Login Count
          %th Last Login
          %th Action
      %tbody
        - @users.each do |user|
          %tr
            %td
              = user.email
            %td
              = user.role
            %td
              n/a
            %td
              hh:mm:ss dd/MM/yyyy
            %td
              = link_to 'Show', user

