.col-sx-12.col-sm-6.col-md-3
  .thumbnail
    = link_to image_tag(client.photo.url(:medium)), client_path(client) 
    .caption
      %h3
        = link_to client.name, client_path(client)
      %p
        = render 'clients/contact_details', client: client
      %p
        = render 'shared/management_links',
        published: client.publish?,
        edit_path: edit_client_path(client),
        allow_delete: user_signed_in? && current_user.admin?,
        delete_path: client_path(client),
        description: client.name


    
  
