.glyphicon.glyphicon-earphone
  = number_to_phone(client.tel)
  %br
%address
  .glyphicon.glyphicon-envelope
  = mail_to client.email
  %br
  .glyphicon.glyphicon-globe
  = link_to client.website
  %br
  .glyphicon.glyphicon-map-marker
  101 The Plaza
  %br
  Near nowhere
  %br
  Somewhere
  %br
  224455
  %br