<!--TODO can this be generalised for all forms?-->
<% if client.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(client.errors.count, "error") %> prohibited
        this client from being saved:</h3>
      <ul>
        <% client.errors.full_messages.each do |msg| %>
            <li class="alert alert-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>