.container
  .row
    %h1 Edit Your Details
    = back_button client_path(current_user.client_id)
    %h4 The details you enter here will be used in your promotions
    = render 'form', mymethod: 'patch', path: client_path
