<h1>Clients#Index</h1>
<% if current_user %>
    <%= link_to "Add Client", {action: "new"}, {class: "btn btn-default"} %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <% @clients.each do |client| %>
        <%= render 'card', :client => client %>
    <% end %>
  </div>
</div>