/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= twitter_boostrap/bootstrap
 *= twitter_boostrap/style
 */

.lable-as-badge {
    border-radius: 25%;
}

 .glyph-features .glyphicons {
     font-size: 32px;
 }

.glyphicon-map-marker {
 color: red;
}

.navbar{
    /*background-color: #16CBE6;*/
    background-color: #ffffff;
    /* #0083C8 fabbyblue
    * #FFA320 fabbyorange
    * #FC3C2B fabbyred
    * #E92B8D fabbypink
    * #00AD8C fabbygreen
    */
}

.hidden_button {
    display: none;
}

.field_with_errors{
    color: red;
}

.field_with_errors input{
    background-color: lightpink;
}


.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

