// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_promotion {
  background: skyblue;
  width: 1000px;
}

.promo-block {
  display: -webkit-flex;
  display: -moz-flex;
  width: 1000px;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

.promo-card {
  font-family: sans-serif;
  background: #ffc63e;
  width: 200px;
  min-width: 159px;
  height: 300px;
  min-height: 300px;
  margin: 10px;
}

#description {
  color:white;
  font-weight: bold;
  font-size: 130%;
  vertical-align: top;
  high:15%;
}

.promo-type {
  position: relative;
  background: palevioletred;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-size: 150%;
  text-transform: capitalize;
  height: 60%;
}

#promo-text{
  z-index:100;
  position: absolute;
  left:0px;
  top:0px;
}

#promo-image
{
  position: absolute;
  left:0;
  top:0;
}

.promo-dates {
  background: cornflowerblue;
  height: 15%;
}

.promo-admin {
  display: -webkit-flex;
  display: -moz-flex;
  background: floralwhite;
  height: 10%;
}

.action {
  text-align: center;
  border-radius: 5px;
  height: 100%;
  width: 50%;
  margin: auto;
}

.edit {
  background: lawngreen;
}

.delete {
  background: red;
}

img {
  width: 200px;
  min-width: 140;
  height: 100%;
}

