// Place all the styles related to the promotion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day-off {
  color: lightgrey;
}

.thumbnail {
  box-shadow: 5px 5px 5px #888888;
}

.thumbnail a img {
  width: 100%;
  max-width: 300px;
  max-height: 200px;
}

.thumbnail a:hover img {
  opacity: 0.75;
}