// Place all the styles related to the promotion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day-off {
  color: lightgrey;
}
.day-on {
  font-size: 110%;
  font-style: bold;
}

.thumbnail {
  max-width: 290px;
  max-height: 448px;
  min-width: 290px;
  box-shadow: 5px 5px 5px #888888;
}

.thumbnail a img {
//  width: 100%;
  width: 300px;
  height: 200px;
//  max-width: 300px;
//  max-height: 200px;
}

.thumbnail a {
  color: #34AC98;
}

.caption {
  position: relative;
  top: -50px;
}

.thumbnail a:hover {
  color: #EC6635;
//  font-style: italic;
  font-size: 110%;
  text-decoration: none;
}

.thumbnail a:hover img {
  opacity: 0.75;
}

.thumbnail:hover {
//  width: 105%;
//  height: 105%;
//  left: -10px;
}

// text overlay for image
.thumbnail .promo_tag {
  background: #ffffff;
  opacity: 0.9;
  color: #34AC98;
  top: -200px;
  left: 10px;
  font-style: italic;
  position: relative;
  padding-left: 4px;
  padding-right: 4px;
}
// line clamp the description
.description {
//  margin:20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-line-clamp: 4;
  -moz-box-orient: vertical;
}

.location img {
  position: relative;
  top: -20px;
  left: 150px;
  max-width:  50px;
  max-height: 50px;
}