%p.availability
  %span{class: day_on_off(promotion.mon)} M
  %span{class: day_on_off(promotion.tue)} Tu
  %span{class: day_on_off(promotion.wed)} W
  %span{class: day_on_off(promotion.thu)} Th
  %span{class: day_on_off(promotion.fri)} F
  %span{class: day_on_off(promotion.sat)} Sa
  %span{class: day_on_off(promotion.sun)} Su