<h1>Promotions#index</h1>
<%= link_to 'New promotion', new_promotions_path %>
<table>
  <tr>
    <th>Client</th>
    <th>Type</th>
  </tr>
  <% @promotion.each do |promo| %>
  <tr>
    <td> <%= promo.client %> </td>
    <td> <%= promo.type %> </td>
  </tr>
  <% end %>
</table>
