.container
  %h1 Promotions#new
  .row
    .col-md-6
      .form-group
        = render 'form', http_verb: :post, url: new_client_promotion_path
  .col-md-6
    = render 'shared/form_error', model: @promotion
    - if @promotion.errors.empty?
      .thumbnail

