%li.dropdown
  %a.btn-mini.dropdown-toggle(data-toggle="dropdown" href='#')
    Admin
    %span.caret
  %ul.dropdown-menu(role='menu')
    %li View User
    %li View Clients
    %li
      = link_to 'View Promotions', promotions_path