<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> By Theme <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <%= render 'layouts/theme_dropdown_items', themes: @theme %>
  </ul>
</li>
<li>